@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


* {
    box-sizing: border-box;
}

/*================================================
Moz Selection
================================================*/
:root {
    --primary-color: #ff5317;
    --dark-color: #192436;
    --secondary-color: #646c71;
    --grey-color: #f4f4f6;
    --white-color: #ffffff;
    --body-fonts: "Nunito", sans-serif;
    --title-fonts: "Nunito", sans-serif;
    --border-redius: 10px;
    --ligth-border: 1px solid #0000001F;
    --dark-border: 1px solid #FFFFFF1F;
}

::-moz-selection {
    text-shadow: none;
    background: var(--primary-color);
    color: #fff;
}

::selection {
    text-shadow: none;
    background: var(--primary-color);
    color: #fff;
}

/*================================================
General
================================================*/
body {
    background: var(--white-color);
    font-family: var(--body-fonts);
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 2;
    color: var(--secondary-color);
    overflow-x: hidden;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title-fonts);
    color: var(--dark-color);
    font-style: normal;
    text-transform: capitalize;
    font-weight: 500;
    margin: 0;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
}

h1 {
    font-size: 40px;
    font-style: normal;
    line-height: 48px;
}

h2 {
    font-size: 36px;
    font-style: normal;
    line-height: 44px;
}

h3 {
    font-size: 32px;
    font-style: normal;
    line-height: 40px;
}

h4 {
    font-size: 28px;
    font-style: normal;
    line-height: 36px;
}

h5 {
    font-size: 24px;
    font-style: normal;
    line-height: 32px;
}

h6 {
    font-size: 20px;
    font-style: normal;
    line-height: 28px;
}

/*===== HTML Tags =====*/
a, .button {
    color: var(--primary-color);
    outline: none !important;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}

a:focus, a:hover {
    color: var(--primary-color);
    outline: none;
    text-decoration: none !important;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

p {
    margin-bottom: 30px;
}

img {
    max-width: 100%;
    height: auto;
}

pre {
    background: var(--white-color);
    padding: 15px;
    border: 1px solid var(--grey-color);
}

hr {
    margin: 0;
    padding: 0px;
    border-bottom: 1px solid #e0e0e0;
    border-top: 0px;
}

b, strong {
    font-weight: 500;
}

/*===== Lists (Nested) =====*/
ol, ul {
    padding-left: 25px;
    margin-bottom: 1em;
}

ol li {
    list-style: decimal;
}

ol ol {
    padding-left: 25px;
}

ul li {
    list-style: inherit;
}

/*===== Definition Lists =====*/
dl dd {
    margin-bottom: 15px;
}

dl dd:last-child {
    margin-bottom: 0px;
}

/*===== Table =====*/
table {
    border: 1px solid var(--grey-color);
    width: 100%;
    margin-bottom: 20px;
}

table td, table th {
    border: 1px solid var(--grey-color);
    padding: 2px 8px;
    text-align: left;
}

/*===== Check Box =====*/
.checkbox-group {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 10px;
}

/*===== Input Textarea =====*/
input, input.form-control {
    background: transparent;
    border: var(--ligth-border);
    color: var(--dark-color);
    width: 100%;
    padding: 0 15px;
    height: 36px;
    outline: none;
    border-radius: var(--border-redius);
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}

input:focus, input:hover, textarea:focus, textarea:hover, .form-control:focus {
    border-color: var(--primary-color);
    outline: none;
}

input[type="radio"], input[type="checkbox"] {
    width: auto;
    height: auto;
    float: none;
    margin-right: 5px;
}

textarea {
    background: var(--grey-color);
    border: 1px solid var(--grey-color);
    color: var(--dark-color);
    width: 100%;
    float: left;
    padding: 10px 15px;
    outline: none;
    border-radius: var(--border-redius);
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}

/*===== Select =====*/
select, select.form-control {
    background: transparent;
    border: var(--ligth-border);
    color: var(--dark-color);
    width: 100%;
    padding: 0 15px;
    height: 36px;
    outline: none;
    border-radius: var(--border-redius);
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill=\'%23999999\' height=\'24\' viewBox=\'0 0 24 24\' width=\'24\' xmlns=\'http://www.w3.org/2000/svg\'><path d=\'M7 10l5 5 5-5z\'/><path d=\'M0 0h24v24H0z\' fill=\'none\'/></svg>');
    background-repeat: no-repeat;
    background-position: right 16px bottom 50%;
    background-size: 20px 20px;
}

/*===== Container =====*/
.container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 15px;
}


fieldset {
    border: var(--ligth-border);
    padding: 15px;
    border-radius: var(--border-redius);
}
