
/* Container */
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container, .register-container {
  background-color: #fff;
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
}

/* Header */
h2 {
  margin-bottom: 20px;
  color: #333;
}

/* Form Styling */
.login-container form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

/* Label Styles */
label {
  font-weight: 400;
  color: #555;
  text-align: left;
  display: inline-block;
  width: 100%;
}


/* Message Styling */
p {
  margin-top: 15px;
  font-size: 14px;
  color: #ff4d4d;
}

/* Success Message */
.success-message {
  margin-top: 15px;
  font-size: 14px;
  color: #4caf50;
}

